<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game "F1"</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- build:css css/vendor.min.css -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- endbuild -->
    
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->

</head>
<body>
    <section class="main-page">
        <div class="main-window">
            <h1 id="logo">Formula <span class="name">1</span></h1>
            <div id="data-window">

                <canvas id="main-canvas"></canvas>

                <div id="main-control"></div>

            </div>
        </div>
    </section>

    <script id="main" type="text/template">
        <div class="main-menu" id="main-menu">
            <button class="btn btn-info btn-big" type="button" id="btn-play">Play (one player)</button><br>
            <button class="btn btn-info btn-big" type="button" id="btn-play2">Play (two players)</button><br>
            <button class="btn btn-warning btn-big" type="button" id="btn-controls">Controls</button><br>
            <button class="btn btn-warning btn-big" type="button" id="btn-results">Best Results</button><br>
        </div>

        <button class="btn btn-info" type="button" id="btn-back">Back</button>
    </script>

    <script id="controls" type="text/template">
        <div class="main-menu">
            <h2>Controls</h2>
            <div class="info">
                <table>
                    <% for (var i = 0, n = data.length; i < n; i++) { %>
                        <tr>
                            <th>Car:</th>
                            <th><%= data[i]['name'] %></th>
                            <th></th>
                        </tr>
                        <% for (key in data[i]['controlKeys']) { %>
                        <tr>
                            <th id="k<%= i %>_<%= key %>">"<%= String.fromCharCode(data[i]['controlKeys'][key]) %>"</th>
                            <td><%= key %></td>
                            <td><button id="b<%= i %>_<%= key %>" class="btn btn-default btn-xs">Change</button></td>
                        </tr>
                        <% } %>
                    <% } %>
                </table>
            
            </div><br>

            <button class="btn btn-info btn-big" type="button" id="btn-back2">Back</button>
        </div>
    </script>

    <script id="results" type="text/template">
        <div class="main-menu">
            <h2>Best Results</h2>
            <div class="info">
                <table>
                    <tr>
                        <th>№</th>
                        <th>Car</th>
                        <th>Time (s)</th>
                        <th>Сhronology</th>
                    </tr>

                    <% for(var i = 0, n = data.length; i < n; i++) { %>
                        <tr>
                            <td><%= (i + 1) %></td>
                            <td><%= data.item(i)['name'] %></td>
                            <td><%= data.item(i)['result'] %></td>
                            <td><%= data.item(i)['date_time'] %><td>
                        </tr>
                    <% } %>
                
                </table>
            </div><br>

            <button class="btn btn-info btn-big" type="button" id="btn-back3">Back</button>
        </div>
    </script>

    <!-- build:js scripts/vendor.min.js -->    
    <script src="libs/pixi.js/dist/pixi.min.js"></script>
    <script src="libs/tween.js/src/Tween.js"></script>
    <script src="libs/requestAnimationFrame/app/requestAnimationFrame.js"></script>    
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/underscore/underscore-min.js"></script>
    <script src="libs/backbone/backbone-min.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.min.js defer -->
    <script src="js/animate/analysis.scene.js"></script>
    <script src="js/animate/main.scene.js"></script>
    <script src="js/models/atlas.model.js"></script>
    <script src="js/models/db.model.js"></script>
    <script src="js/models/car.model.js"></script>
    <script src="js/models/cars.collection.js"></script>
    <script src="js/views/main.view.js"></script>
    <script src="js/app.config.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->

</body>
</html>